.information
  .information__top
    .information__top__time
      = l information.created_at, format: :short
  .information__category
    - information.categories.each do |category|
      .information__category__item
        = category.name
  .information__text
    = information.content
  .information__image
    - information.images.each do |image|
      = link_to "#{image.url}", 'data-lightbox': image do
        = image_tag "#{image.url}", class: 'information__image__item' if image.present?