= render partial: 'modules/header'

.wrapper
  .request
    = @information.content
    = form_with model:@information, url: {controller: 'informations', action: 'create' } do |form|
      .request__text
        = form.text_area :content, placeholder: "テキスト入力欄"

      .request__option
        .request__option__image
          = form.file_field :image
        -# .request__option__image
        -#   画像
        .request__option__category
          カテゴリ
        .request__option__remind
          リマインド
      .request__SendBtn
        = form.submit "送信する"