= render partial: 'modules/header'

.wrapper
  .request
    = @information.content
    = form_with model: [@information], url: {controller: 'informations', action: 'create' } do |form|
      .request__text
        = form.text_area :content, placeholder: "テキスト入力欄"

      .request__option
        .request__option__image#image-box
          = form.fields_for :images do |i|
            .js-file_group{"data-index" => "#{i.index}"}
              = i.file_field :url, class: 'js-file'
              %br
              %span.js-remove
                削除
        -# .request__option__image
        -#   画像
        .request__option__category
          = form.collection_check_boxes(:category_ids, Category.all, :id, :name)
        .request__option__remind
          リマインド
      .request__SendBtn
        = form.submit "送信する"